body {
    background: rgb(32, 31, 31);
}

/* typografi */

h1 {
    font-size: 70px;
}

h2 {
    margin: -4%;
}

h3 {
    background: white;
    color: black;
    padding: 20px;
}

/* layout och struktur */

div.wrapper {
    width: 100%;
    max-width: 1000px;
    min-height: 600px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* toppmeny */

nav.menue {
    background: rgb(32, 31, 31);
    height: 70px;
}

nav.menue ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav.menue a {
    color: white;
    text-decoration: none;
}

nav.menue li {
    padding: 10px;
    position: relative;
}

nav.menue li::after {
    display: block;
    position: absolute;
    content: "";
    width: 1px;
    right: 0;
    top: 0;
    background: white;
    height: 100%;
}

nav.menue li:last-child::after {
    display:none;
}

/* bakgrundsbild och text */

section.imagebar{
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    margin-top: -19px;
    background-image: url(https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg)
}

div.welcome-text {
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
}

/* ikoner social media */

section.social-media {
    color: white;
    font-size: 50px;
    list-style-type: none;
    position: absolute;
    padding-left: 30px;
    bottom: 12px;
}

.fab.fa-instagram {
    padding-bottom: 25px;
}


/* menue-list */

section.menue-list {
    background: white;
    display: flex;
    flex-direction: row;
    padding: 35px;
}

section.menue_item {
    float: left;
    margin: 10px;
}

p.meal_info {
    padding: 20px;
    margin-top: -40px;
}

.menue_item img {
    width: 100%;
}
